@forward 'boilerplate';
@forward 'colors';
@forward 'typography';
@forward "variables";

.app_width {
  width: 100%;
  max-width: 923px;
  margin: 0 auto;
}

.main_container {
  width: 100%;
  max-width: 923px;
  margin: 0 auto;
  min-height: var(--page-height);
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Non-prefixed version, браузеры по умолчанию */
}