.modal {
  max-width: 400px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.error {
  color: var(--error);
}

.label {
  display: flex;
  justify-content: space-between;
}

.input_mask {
  text-align: center;
}

.select {
  width: 202px;
}