.footer {
  padding-top: 16px;
  padding-bottom: 15px;
  background-color: var(--dark-gray);
  color: var(--white);
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  width: 100%;
}
